.wrapper
  
  = render 'shared/side_bar'

.contents
  .contents__top
    .contents__top__user
      .contents__top__user--group
        = @group.group_name
      %ul.contents__top__user--name
        = "Member : "
        - @group.users.each do |user|
          %li.contents__top__user--name--li
            = user.name
    .contents__top__edit
      Edit
  .contents__main
    %ul.contents__main__ul
      = render @messages
  .contents__form
    = form_for [@group, @message], html: { class: 'contents__form__multi'} do |f|
      .contents__form__multi__main
        = f.text_field :text, class: "contents__form__multi__main__input", placeholder: "type a message"
        = f.label :image, "message", class: "contents__form__multi__main__label" do
          = f.file_field :image, class: "contents__form__multi__main__label--file"
          = fa_icon "image", class: "contents__form__multi__main__label--image"
      = f.submit "Send", class: "contents__form__multi__submit"  


